<launch>

    <arg name="project" default="lego_loam"/>

    <!-- <arg name="model" default="$(find fusion_description)/urdf/fusion.urdf"/>
    <arg name="rvizconfig" default="$(find fusion_description)/rviz/demo.rviz" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->

    <!-- <arg name="rvizconfig" default="$(find carina_description)/rviz/rviz.rviz" /> -->
    <!-- send carina.urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro $(find carina_description)/urdf/carina2.urdf" />
  
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->
  
</launch>
