<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Bag com IMU a 10 Hz SEQUENCIA 07 DO KITTI-->
    <!-- <arg name='bag' value="/home/joaojorge/Downloads/kitti_2011_09_30_drive_0027_synced_no_TF.bag"/> -->

    <!-- Bag com IMU a 100 Hz SEQUENCIA 07 DO KITTI-->
    <!-- <arg name="bag" value="/home/joaojorge/Documents/kitti_2011_09_30_drive_0027_100_hz_IMU/kitti.bag"/> -->
    
    <!-- Bag com IMU a 200HZ POLO 2 SEQUENCIA 2 -->
    <arg name='bag' value="/home/joaojorge/POLO2_SEQ2/POLO2_SEQ02_new.bag"/>

    <!-- <arg name="input_cloud_topic"  default="points_raw" /> -->
    <!-- GEORGIA TECH DATASET -->
    <!-- <arg name='bag' value="/home/joaojorge/orchard_new.bag"/> -->

    <!-- Bag com IMU a 100 Hz SEQUENCIA 00 DO KITTI-->
    <!-- <arg name="bag" value="/home/joaojorge/Downloads/kitti_2011_10_03_drive_0027_100hz_IMU/kitti.bag"/> -->

    <!-- Bag com IMU a 100 Hz SEQUENCIA 05 DO KITTI-->
    <!-- <arg name='bag' value="/home/joaojorge/Documents/kitti_2011_09_30_drive_0018_100HZ_IMU/kitti.bag"/> -->

    <!-- *******************  SIM TIME *********************** -->
    <param name="/use_sim_time" value="true" />

    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params_POLO2.yaml" command="load" />

    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock -r 0.1 $(arg bag)" required="true">
        <remap from="/imu/data" to="/imu_raw" />
        <remap from="/ouster/points" to="/points_raw" />

    </node>

    <!-- ICP NODE -->
    <node pkg="$(arg project)" type="Reg_ICP" name="Reg_ICP" output="screen" />
    <!--- LOAM -->
    <!-- <include file="$(find lio_sam)/launch/include/module_loam.launch" /> -->

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find lio_sam)/launch/include/config/ICP_slam.rviz" />
    <!--- Run Rviz-->
    <!-- <node pkg="rviz" type="rviz" name="rviz" /> -->


    <!-- <node pkg="lio_sam" type="save_path" name="save_path" output="screen"/> -->

</launch>
